html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
@media screen and (min-width: 960px) {
  body {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 40px 0;
  }
}

.header__logo {
  display: block;
  margin: 15px auto 50px auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 0;
    display: inline;
    flex: 1 1 25%;
    height: 30px;
    padding-left: 20px;
  }
}
@media screen and (min-width: 960px) {
  .header__logo {
    flex: 0 0 236px;
  }
}

.menu__list {
  list-style: none;
  display: flex;
  padding-left: 0;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .menu__list {
    margin: 0;
  }
}
@media screen and (min-width: 960px) {
  .menu__list {
    display: inline;
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    flex: 1 1 75%;
    padding-left: 20px;
  }
}
@media screen and (min-width: 960px) {
  .menu {
    flex: 0 0 auto;
  }
}

.menu__link {
  text-decoration: none;
  color: #F03000;
  font-size: 18px;
  padding: 10px;
}
.menu__link:hover {
  color: #FFFFFF;
  background-color: #F03000;
}
@media screen and (min-width: 768px) {
  .menu__link:hover {
    padding: 20px;
  }
}

.menu__item {
  display: inline-block;
  flex: 1 1 calc(100% / 3);
  justify-content: space-evenly;
}

footer {
  color: #FFFFFF;
  background-color: #444444;
  text-align: center;
  padding: 20px;
  margin-top: 45px;
}

h1 {
  font-weight: 600;
  font-size: 24px;
  margin: 20px 0;
}

.offer__image--main img {
  height: 240px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .offer__image--main img {
    height: 380px;
  }
}

.offer__item--main,
.offer__item--secondary {
  margin-bottom: 20px;
}

.offer__image--main,
.offer__image--secondary {
  position: relative;
}

.price {
  background-color: #F03000;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  margin: 0;
}

.offer__image--secondary img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .offer__image--secondary img {
    height: 180px;
  }
}

.offer__content {
  color: #FFFFFF;
}

.title__small {
  position: absolute;
  bottom: 23px;
  left: 20px;
  margin: 0;
}

.title__main {
  position: absolute;
  bottom: 60px;
  left: 20px;
  margin: 0;
}

.text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 960px) {
  .offers {
    display: grid;
    gap: 20px;
  }
}

@media screen and (min-width: 960px) {
  .offers-first {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 180px);
    grid-template-areas: "offer-main offer-small1" "offer-main offer-small2";
  }
}

.grid__palmy,
.grid__lodicka {
  grid-area: offer-main;
}

.grid__jezero,
.grid__podkova {
  grid-area: offer-small1;
}

.grid__kolo,
.grid__zatoka {
  grid-area: offer-small2;
}

@media screen and (min-width: 960px) {
  .offers-second {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 180px);
    grid-template-areas: "offer-small1 offer-main" "offer-small2 offer-main";
  }
}

@media screen and (min-width: 768px) {
  .offer__item--main {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 960px) {
  .offer__item--main {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .offer__item--secondary {
    flex: 0 0 calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 960px) {
  .offer__item--secondary {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
  }
}
@media screen and (min-width: 960px) {
  .boxes {
    flex-wrap: nowrap;
  }
}

.box {
  background-color: #F0F0F0;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.box__image {
  height: 40px;
  flex: 0 0 20%;
}
@media screen and (min-width: 768px) {
  .box__image {
    display: block;
    margin: 0 auto 20px auto;
  }
}
.box__title {
  margin: 0;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .box__title {
    margin-bottom: 20px;
  }
}
.box__text {
  margin: 10px 20px 0 0;
  font-family: "Open Sans", sans-serif;
}
@media screen and (min-width: 768px) {
  .box__text {
    margin: 0;
  }
}
.box__content {
  margin-left: 20px;
  text-align: left;
  flex: 0 0 80%;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .box__content {
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .box {
    display: block;
    flex: 0 0 calc((100% - 20px) / 2);
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 960px) {
  .box {
    flex: 0 0 calc((100% - 60px) / 4);
  }
}

@media screen and (min-width: 960px) {
  .containers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

.container {
  background-color: #F0F0F0;
  padding: 20px;
  margin-bottom: 20px;
}
.container__date {
  color: #888888;
}
.container__date, .container__text {
  margin: 0;
}
.container__title {
  margin: 10px 0;
}

.container h4,
.box h4 {
  color: #F03000;
}

.offer__image--content img {
  height: 150px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .offer__image--content img {
    height: 380px;
  }
}
@media screen and (min-width: 960px) {
  .offer__image--content img {
    height: 180px;
  }
}

.content__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.content__text:last-child {
  margin-bottom: 40px;
}

.content__title {
  color: #F03000;
  font-size: 36px;
}

hr {
  border: 1px solid #F03000;
  background-color: #F03000;
}

.content__image {
  height: 293px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 24px 0;
}
@media screen and (min-width: 768px) {
  .content__image {
    height: 485px;
  }
}

@media screen and (min-width: 960px) {
  .offers-content {
    grid-template-rows: repeat(3, 180px);
    gap: 20px;
  }
}

@media screen and (min-width: 960px) {
  .pc-verze {
    display: grid;
    grid-template-columns: auto 375px;
    gap: 20px;
  }
}

.detail__title {
  margin: 0;
  font-size: 14px;
  color: #888888;
  font-family: "Open Sans", sans-serif;
}

.detail {
  padding: 20px;
  background-color: #E5E5E5;
  margin: 20px 0;
}
@media screen and (min-width: 960px) {
  .detail:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 960px) {
  .detail:first-child {
    margin-top: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .detail {
    margin: 0;
  }
}

.red {
  background-color: #F03000;
}

.detail__describtion {
  margin: 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.detail__title--red {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  margin: 0;
}

.detail__describtion--red {
  margin: 0;
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
}

.details {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .details {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 109px 97px;
    margin-top: 40px;
  }
}
@media screen and (min-width: 960px) {
  .details {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 960px) {
  .uvodni img {
    height: 432px;
  }
}

.fotogalerie img {
  height: 140px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fotogalerie {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 140px);
  gap: 20px;
  margin-top: 40px;
}
@media screen and (min-width: 768px) {
  .fotogalerie {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 154px;
  }
}
@media screen and (min-width: 960px) {
  .fotogalerie {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 162px;
  }
}/*# sourceMappingURL=style.css.map */