html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

$primary-color: #F03000;
$text-color: #000000;
$secondary: #FFFFFF;
$footer-color: #444444;
$dates-color: #888888;
$container-color: #F0F0F0;

$spacer: 20px;
$spacer2: 120px;
$main-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;

body {
    padding: $spacer;
    font-family: $main-font;
    margin: 0;
    @media screen and (min-width: 960px) {
        padding-left: $spacer2;
        padding-right: $spacer2;
    }
}

header {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 40px 0;
    }

}
.header__logo {
    display: block;
    margin: 15px auto 50px auto;
    @media screen and (min-width: 768px) {
       margin: 0;
       display: inline;
       flex: 1 1 25%;
       height: 30px;
       padding-left: 20px;
    }

    @media screen and (min-width: 960px) {
        flex: 0 0 236px;
    }
}

//menu

.menu__list {
    list-style: none;
    display: flex;
    padding-left: 0;
    text-align: center;
    margin-bottom: 50px;
    @media screen and (min-width: 768px) {
        margin: 0;
         }
    @media screen and (min-width: 960px) {
    display: inline;
    text-align: right;
        }
   
}


.menu {
    @media screen and (min-width: 768px) {
        flex: 1 1 75%;
        padding-left: 20px;
             } 
    @media screen and (min-width: 960px) {
        flex: 0 0 auto;
}   
}
.menu__link {
    text-decoration: none;
    color: $primary-color;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
    &:hover  {
       color: $secondary;
       background-color: $primary-color;
       @media screen and (min-width: 768px) {
        padding: 20px;
        }
      }
 }

.menu__item {
    display: inline-block;
    flex: 1 1 calc(100% / 3);
    justify-content: space-evenly;
 
}
//konec menu

//paticka
footer {
    color: $secondary;
    background-color: $footer-color;
    text-align: center;
    padding: 20px;
    margin-top: 45px;
}

//konec paticky

h1 {
    font-weight: 600;
    font-size: 24px;
    margin: 20px 0;
}

.offer__image--main img {
    height: 240px;
    width: 100%;
    object-fit: cover;
    @media screen and (min-width: 768px) {
        height: 380px;
    }

   }

.offer__item--main,
.offer__item--secondary {
    margin-bottom: 20px;
}

.offer__image--main,
.offer__image--secondary {
    position: relative;
}

.price {
    background-color: $primary-color;
    padding: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    margin: 0;
}


.offer__image--secondary img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    @media screen and (min-width: 768px) {
        height: 180px;
    }
}

.offer__content {
    color: $secondary;
}

.title__small {
    position: absolute;
    bottom: 23px;
    left: 20px;
    margin: 0;
}

.title__main {
    position: absolute;
    bottom: 60px;
    left: 20px;
    margin: 0;
}

.text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
}

.offers {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    @media screen and (min-width: 960px) {
        display: grid;
        gap: 20px;        
    }
}

.offers-first {
    @media screen and (min-width: 960px) {
        grid-template-columns: 2fr 1fr; 
        grid-template-rows: repeat(2, 180px);     
        grid-template-areas: 
        "offer-main offer-small1"
        "offer-main offer-small2"
    }
}

.grid__palmy,
.grid__lodicka {
    grid-area: offer-main;
}

.grid__jezero,
.grid__podkova {
    grid-area: offer-small1;
}

.grid__kolo,
.grid__zatoka {
    grid-area: offer-small2;
}

.offers-second {
    @media screen and (min-width: 960px) {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(2, 180px);
        grid-template-areas: 
        "offer-small1 offer-main" 
        "offer-small2 offer-main" 
   }
}



.offer__item--main {
    @media screen and (min-width: 768px) {
    flex-basis: 100%;
    }
    @media screen and (min-width: 960px) {
        margin: 0;
    }
}

.offer__item--secondary {
    @media screen and (min-width: 768px) {
    flex: 0 0 calc((100% - 20px) / 2);
       }
       @media screen and (min-width: 960px) {
        margin: 0;
    }
}
.boxes {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 20px;
     }
    
    @media screen and (min-width: 960px) {
        flex-wrap: nowrap;        
    }
}


.box {
    background-color: $container-color;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    &__image {
        height: 40px;
        flex: 0 0 20%;
        @media screen and (min-width: 768px) {
            display: block;
            margin: 0 auto 20px auto;                       
        }
    }
    &__title {
        margin: 0;
        font-size: 18px;
        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__text {
        margin: 10px 20px 0 0;
        font-family: $text-font;
        @media screen and (min-width: 768px) {
            margin: 0;
        }
    }
    &__content {
        margin-left: 20px;
        text-align: left;
        flex: 0 0 80%;
        font-size: 16px;

        @media screen and (min-width: 768px) {
            text-align: center;
            margin-left: 0;
        }
    }

    @media screen and (min-width: 768px) {
        display: block;
        flex: 0 0 calc((100% - 20px) / 2);    
        margin-bottom: 20px;       
    }

     
    @media screen and (min-width: 960px) {
        flex: 0 0 calc((100% - 60px) / 4)      
    }
}

.containers {
    @media screen and (min-width: 960px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);    
        gap: 20px;  
    }
}
.container {
    background-color: $container-color;
    padding: $spacer;
    margin-bottom: $spacer;
    &__date {
        color: $dates-color;
    }
    &__date,
    &__text {
        margin: 0;
    }
    &__title {
        margin: 10px 0;
    }

}

.container h4,
.box h4 {
    color: $primary-color;
}

//doplnění k obsahové stránce

.offer__image--content img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    @media screen and (min-width: 768px) {
        height: 380px;      
    } 
    @media screen and (min-width: 960px) {
        height: 180px;      
    }


}

.content__text {
    font-family: $text-font;
    font-size: 16px;
    &:last-child {
        margin-bottom: 40px;
    }
}

.content__title {
    color: $primary-color;
    font-size: 36px;
}

hr {
    border: 1px solid $primary-color;
    background-color: $primary-color;
}

.content__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 24px 0;
    @media screen and (min-width: 768px) {
        height: 485px;      
    }
}

.offers-content {
    @media screen and (min-width: 960px) {
        grid-template-rows: repeat(3, 180px);
        gap: 20px;    
    }
}

.pc-verze {
    @media screen and (min-width: 960px) {
    display: grid;
    grid-template-columns: auto 375px;
    gap: $spacer
    }
}

.detail__title {
    margin: 0;
    font-size: 14px;
    color: $dates-color;
    font-family: $text-font;
}

.detail {
    padding: 20px;
    background-color: #E5E5E5;
    margin: 20px 0;
    &:last-child {
        @media screen and (min-width: 960px) {
            margin-bottom: 0;      
        }
    }
    &:first-child {
        @media screen and (min-width: 960px) {
            margin-top: 0;      
        }
    }
    @media screen and (min-width: 768px) and (max-width: 959px) {
        margin: 0; 
    }
}

.red {
    background-color: $primary-color;
}

.detail__describtion {
    margin: 0;
    font-size: 14px;
    font-family: $text-font;
}

.detail__title--red {
    font-family: $text-font;
    color: $secondary;
    font-size: 14px;
    margin: 0;
}

.detail__describtion--red {
    margin: 0;
    font-size: 28px;
    font-family: $text-font;
    color: $secondary;
}

.details {
    margin-bottom: 30px;
    @media screen and (min-width: 768px) and (max-width: 959px) {
        display: grid; 
        gap: 20px;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 109px 97px;  
        margin-top: 40px; 
    }
    @media screen and (min-width: 960px) {
        margin-bottom: 0;      
    }
}

.uvodni img {
    @media screen and (min-width: 960px) {
        height: 432px;     
    }
}

.fotogalerie img {
    height: 140px;
    width: 100%;
    object-fit: cover;
}
.fotogalerie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 140px);
    gap: 20px;
    margin-top: 40px;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);  
        grid-template-rows: 154px;
    }
    @media screen and (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);  
        grid-template-rows: 162px;
    }
}